/* =========================
   SEARCH PAGE
========================= */

.search-page {

    width:100%;

    min-height:300px;

    box-sizing:border-box;

    background:#d8e9e5;

    padding:20px 28px 45px;

}



/* TITLE */

.search-page h1 {

    margin:0;

    font-family:Arial, Helvetica, sans-serif;

    font-size:48px;

    font-weight:300;

    line-height:1.2;

    color:#17243a;

}



.search-page hr {

    border:0;

    border-top:2px solid #879694;

    margin:28px 0 48px;

}



/* =========================
   SEARCH RESULT
========================= */


.search-page article {

    width:330px;

    margin:0 auto 25px;

}



.search-page article h2 {

    margin:0 0 10px;

    font-family:Arial, Helvetica, sans-serif;

    font-size:22px;

    font-weight:400;

}



.search-page article h2 a {

    color:#26374b;

    text-decoration:none;

}



.search-page article h2 a:hover {

    text-decoration:underline;

}



.search-page article p {

    margin:0;

    font-family:Arial, Helvetica, sans-serif;

    font-size:13px;

    line-height:1.6;

    color:#63777b;

}



/* NO RESULT TEXT */

.search-page > p {

    width:330px;

    margin:0 auto 12px;

    font-family:Arial, Helvetica, sans-serif;

    font-size:12px;

    line-height:1.5;

    color:#63777b;

}